:root {
  --primary-color: #dfdfdf;
  --font-primary: "Handjet", Arial, serif;
  --bc-primary-color: #6b84f1;
  --bc-secondary-color: #dbb488;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, var(--bc-primary-color), var(--bc-secondary-color));
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Header con todo de perfil*/

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header img {
  max-width: 150px; /* Limita el tamaño de la imagen en pantallas pequeñas */
  height: auto;
  object-fit: cover;
  border-radius: 100%;
}

.header h1 {
  font-family: var(--font-primary), cursive;
  margin-bottom: 15px;
  font-size: 2.5rem; /* Ajusta el tamaño del texto automáticamente */
}

.header p {
  margin-bottom: 10px;
  font-size: 1.25rem; /* Ajusta el tamaño del texto automáticamente */
}

.iconosSociales i {
  font-size: 2rem;
}

.lead {
  font-family: var(--font-primary);
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--primary-color);
  display: inline-block;
  animation: typing 3s steps(50, end), blink-caret 0.75s step-end infinite;
  width: 0;
  animation-fill-mode: forwards; 
}

/* Animación de escritura */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Animación de parpadeo del cursor */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  to { border-color: var(--primary-color); }
}


/* Seccion acerca de mi */

.acercaDeMiArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.tituloAcercaDeMi h2 {
  font-size: 2rem; /* Ajuste de tamaño */
  margin-bottom: 30px;
}

.contenido {
  width: 90%;
  margin-bottom: 100px;
}

.cuerpoAcercaDeMi ul li {
  font-size: 1rem;
  margin: 15px 0;
}

.resumenAcercaDeMi h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.resumenAcercaDeMi p {
  font-size: 1.25rem;
}

/* Seccion Educacion*/

.educacionArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloEducacion h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.cuerpoEducacion {
  width: 100%;
}

.contenedorEducacion {
  margin-bottom: 50px;
}

.contenedor {
  padding: 30px 20px;
}

.contenedor h3 {
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.contenedor p {
  font-size: 1rem;
  margin-bottom: 15px;
}

/*Seccion habilidades */

.habilidadesArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.tituloHabilidades h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.cuerpoHabilidades {
  width: 100%;
  margin: 0 auto;
}

.divHabilidad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.divHabilidad i {
  font-size: 4rem;
  margin-bottom: 10px;
}

.divHabilidad p {
  font-size: 1.25rem;
}

/* Seccion proyectos */

.proyectosArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.tituloProyectos {
  font-size: 2.5rem;
  margin: 50px 0;
}

.galeriaProyectos {
  width: 100%;
}

.galeriaProyectos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.galeriaProyectos img:hover {
  transform: scale(1.05);
}

/* formulario contacto */

.seccionContacto {
  width: 100%;
  height: auto; /* Cambiado para adaptarse al contenido */
  display: flex;
  justify-content: center;
  padding: 20px 0; /* Agregado para separación vertical */
}

.divContacto {
  width: 100%;
  height: auto; /* Cambiado para adaptarse al contenido */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

.divImg {
  height: 100%;
  background-image: url("../img/Hands.webp");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 20px 10px var(--bc-secondary-color);
  border-radius: 10px;
}

.contenedorFormulario {
  margin: 20px 0; /* Reducción de márgenes */
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 1%;
  padding: 20px; /* Agregado para mayor espacio interno */
}

form input,
textarea,
.btnFormulario {
  display: block;
  width: 100%; /* Ajustado al 100% */
  height: 35px;
  margin: 10px 0; /* Espaciado entre campos */
  padding: 0px 10px; /* Ajustado para que se vea mejor */
  border: solid 1px rgb(56, 56, 56);
  border-radius: 5px;
}

form textarea {
  height: 200px;
}

.btnFormulario {
  cursor: pointer; /* Cambiado para mejorar la experiencia del usuario */
}


/* Contenido footer */

footer {
  width: 100%;
  background-color: #343a40; /* Fondo oscuro */
  color: white; /* Texto en blanco */
  padding: 10px 0; /* Añade padding para darle espacio al contenido */
}

.contenidoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
}

.contenidoFooter p {
  margin: 0; /* Elimina el margen excesivo */
  font-size: 16px;
}

/*Media queries*/

@media (min-width: 768px) {
  /* Header */
  .header img {
    max-width: 200px;
  }
  .header h1 {
    font-size: 3.5rem;
  }
  .header p {
    font-size: 1.5rem;
  }
  .iconosSociales i {
    font-size: 2.5rem;
  }

  /*A cerca de mi*/
  .tituloAcercaDeMi {
    margin: 50px 0;
  }
  .contenido {
    flex-direction: row;
    margin-bottom: 200px;
  }
  .resumenAcercaDeMi h2 {
    font-size: 3rem;
  }
  .resumenAcercaDeMi p {
    font-size: 1.5rem;
  }

  /*Educacion*/
  .contenedor h3 {
    font-size: 2rem;
  }

  .contenedor p {
    font-size: 1.2rem;
  }

  /*Habilidades*/
  .divHabilidad i {
    font-size: 5rem;
  }
  .divHabilidad p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  /*Proyectos*/
  .galeriaProyectos img {
    margin-bottom: 20px;
  }
  

  /*Footer*/
  .contenidoFooter p {
    font-size: 14px; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }
}
