* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Mono", Arial, serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #5170ff, #cf70ab);
  color: #ffbd59;
}

a {
  text-decoration: none;
  color: #ffbd59;
}

/* Header con todo de perfil*/

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header img {
  max-width: 150px; /* Limita el tamaño de la imagen en pantallas pequeñas */
  height: auto;
  object-fit: cover;
  border-radius: 100%;
}

.header h1 {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 15px;
  font-size: 2.5rem; /* Ajusta el tamaño del texto automáticamente */
}

.header p {
  margin-bottom: 10px;
  font-size: 1.25rem; /* Ajusta el tamaño del texto automáticamente */
}

.iconosSociales i {
  font-size: 2rem;
}

/* Seccion acerca de mi */

.acercaDeMiArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.tituloAcercaDeMi h2 {
  font-size: 2rem; /* Ajuste de tamaño */
  margin-bottom: 30px;
}

.contenido {
  width: 90%;
  margin-bottom: 100px;
}

.cuerpoAcercaDeMi ul li {
  font-size: 1rem;
  margin: 15px 0;
}

.resumenAcercaDeMi h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.resumenAcercaDeMi p {
  font-size: 1.25rem;
}

/* Seccion Educacion*/

.educacionArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloEducacion h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.cuerpoEducacion {
  width: 100%;
}

.contenedorEducacion {
  margin-bottom: 50px;
}

.contenedor {
  padding: 30px 20px;
}

.contenedor h3 {
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.contenedor p {
  font-size: 1rem;
  margin-bottom: 15px;
}

/*Seccion habilidades */

.habilidadesArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloHabilidades {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 50px;
  font-size: 30px;
}

.cuerpoHabilidades {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.cuerpoHabilidades div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 200px;
  font-size: 30px;
  margin: 50px;
}

.divHabilidad i {
  font-size: 100px;
}

.divHabilidad {
  flex-direction: column;
}

/* Seccion proyectos */

.proyectosArticle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.tituloProyectos {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 50px;
  font-size: 40px;
}

.galeriaProyectos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
}

.galeriaProyectos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeriaProyectos ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.galeriaProyectos ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 300px;
  padding: 20px;
}

/* formulario contacto */

.seccionContacto {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
}

.divContacto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.divImg {
  width: 50%;
  height: 100%;
  background-image: url("https://img.freepik.com/vector-gratis/particula-tecnologia-abstracta-realista-fondo_23-2148431735.jpg?w=1380&t=st=1725230991~exp=1725231591~hmac=5e44355b518d605da9821621f4e30811727e0a35243547a5ff4673a9566a7106");
  background-position: center;
  background-size: cover;
}

.contenedorFormulario {
  width: 50%;
  height: 100%;
  margin: 100px 0 60px 0;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 1%;
}

form input,
textarea,
.btnFormulario {
  display: block;
  width: 70%;
  height: 35px;
  margin: auto;
  padding: 0px 30px;
  border: solid 1px rgb(56, 56, 56);
  border-radius: 5px;
}

form textarea {
  height: 200px;
}

.seccionContacto img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

/* Contenido footer */

.contenidoFooter {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidoFooter p {
  margin: 200px 500px;
}

/*Media queries*/

@media (min-width: 768px) {
  /* Header */
  .header img {
    max-width: 200px;
  }
  .header h1 {
    font-size: 3.5rem;
  }
  .header p {
    font-size: 1.5rem;
  }
  .iconosSociales i {
    font-size: 2.5rem;
  }

  /*A cerca de mi*/
  .tituloAcercaDeMi {
    margin: 50px 0;
  }
  .contenido {
    flex-direction: row;
    margin-bottom: 200px;
  }
  .resumenAcercaDeMi h2 {
    font-size: 3rem;
  }
  .resumenAcercaDeMi p {
    font-size: 1.5rem;
  }

  /*Educacion*/
  .contenedor h3 {
    font-size: 2rem;
  }

  .contenedor p {
    font-size: 1.2rem;
  }
}
